.form_manager {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form_manager label {
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form_manager input {
    padding: 8px;
    margin-top: 1px;
    width: auto;
    border-radius: 4px;
    border-width: 1px;
    border-color: #7b7b7b;
    width: 400px;
}

.form_manager input::placeholder {
    color: #7b7b7b
}