* {
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.submenu {
  margin: 10px;
}

.submenu-btn {
  padding: 8px;
  padding-left: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(94, 94, 94);
  text-decoration: none;
  border-radius: 8px;
}

.submenu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}


.logo {
  display: flex;
  align-items: center;
  color: black;
  letter-spacing: 4px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

.submenu .submenu-content {
  padding-left: 30px;
}

h1 {
  font-size: 20px;
}

h3 {
  font-size: medium;
  font-style: normal;
}

ul {
  width: 100%;
}