.navbar {
    display: flex;
    background: #a0a0a0;
    padding: 20px 10px;
}

.navbar {
    color: black;
    margin-right: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: #999;
}